*.diff
*.orig
*.patch
*.rej

*.o
*.pyc
*.pyo

*.cwnd
*.dat
*.log
*.mob
*.pcap
*.plt
*.routes
*.tr
*.data
*.plot
*.pdf
*.eps

\#*#
~*

/bindings/python/pybindgen/
/build-dir/
/build/
/.settings/
/.waf*/

/.lock-waf_*_build
/.cproject
/.project
/.pydevproject

/*.sh

/TAGS
/GPATH
/GRTAGS
/GTAGS